@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray: #DCD9E1;
  --turquoise: #75E9E0 ;
  --dark-blue: #3558D8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #FFFFFF;
    --black: #000000;
    --gray: #DCD9E1;
    --turquoise: #75E9E0 ;
    --dark-blue: #3558D8;
  }
} 

body {
  color: var(--black);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--dark-blue)
    )
    var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 3vw;
  font-weight: 800;
  letter-spacing: 0.1em;
}

h2 {
  color: var(--dark-blue);
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  @apply m-4 mt-0;
}

h3 {
  font-size: 1.5vw; 
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

p {
  font-size: 1.25vw; 
  margin-bottom: 0.5vw;
  @apply text-left;
}

#desc {
  font-size: 1.5vw; 
  margin-bottom: 0.85vw;
  @apply text-justify;
}

#button {
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#job {
  @apply h-[36vw];
}

li {
  background-color: var(--white);
  border-top-right-radius: 24px;
  border-color: #000000;
  border-width: 1px;
  margin: 0.85vw;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  @apply p-[1rem] h-[16rem];
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4vw;
  }
  #jobs{
    font-size: 5vw;
  }
  h3{
    font-size: 4vw;
  }
  p{
    font-size: 4vw;
  }
}